input,
button,
select {
    border: 1px solid #999;
    vertical-align: top;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
textarea {
    width: 350px;
    height: 120px;
    padding: 8px;
    border: 1px solid #999;
    resize: none;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
textarea::selection {
    background: #F24141;
    color: #fff;
}
textarea::-moz-selection {
    background: #F24141;
    color: #fff;
}
span {
    font-size: 12px;
    color: #666;
}
span:last-of-type {
    margin-left: -30px;
}
input {
    width: 150px;
    height: 20px;
    padding: 0 5px;
    margin: 0 30px 0 5px;
}
textarea:focus,
input:focus {
    border: 1px solid rgba(121, 162, 220, 0.8);
    -webkit-box-shadow: 0 0 3px rgba(40, 116, 222, 0.8), 0 0 15px rgba(126, 166, 222, 0.6);
       -moz-box-shadow: 0 0 3px rgba(40, 116, 222, 0.8), 0 0 15px rgba(126, 166, 222, 0.6);
            box-shadow: 0 0 3px rgba(40, 116, 222, 0.8), 0 0 15px rgba(126, 166, 222, 0.6);
}
label {
    font-size: 14px;
    color: #666;
}
button {
    height: 35px;
    margin-top: 20px;
    border: 1px solid #79A2DC;
    background: #fff;
    color: #79A2DC;
}
button:hover {
    border: 1px solid #79A2DC;
    background: #79A2DC;
    color: #fff;
}
div {
    position: relative;
    height: 100px;
    margin-top: 20px;
}
div div {
    float: left;
    display: inline-block;
    height: 40px;
    line-height: 24px;
    min-width: 20px;
    padding: 8px;
    margin: 5px;
    color: #fff;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.8s ease;
       -moz-transition: all 0.8s ease;
            transition: all 0.8s ease;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.tag1 div {
    background: #95CBE6;
}
.tag1 div:hover {
    background: #F24141;
    opacity: 0.8;
    -webkit-transition: all 0.8s ease;
       -moz-transition: all 0.8s ease;
            transition: all 0.8s ease;
    -webkit-box-shadow: 0 0 3px rgba(242, 133, 133, 0.8);
       -moz-box-shadow: 0 0 3px rgba(242, 133, 133, 0.8);
            box-shadow: 0 0 3px rgba(242, 133, 133, 0.8);
}
.tag1 div:hover::before {
    content: "点击删除";

}
.tag2 div {
    background: #FFCF82;
}
